<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Signup | CodingLab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
    <div class="container">
        <div class="title">Choose Signup Type</div>
        <div class="content">
            <div class="button-group">
                <a href="signup_employee.html" class="button">Signup as Employee</a>
                <a href="signup_admin.html" class="button">Signup as Admin</a>
                <a href="signup_customer.html" class="button">Signup as Customer</a>
            </div>
        </div>
    </div>
</body>
</html>
