
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Failed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Login Failed</h1>
    </header>
    <section>
        <p>Invalid username or password. Please try again.</p>
    </section>
    <h4 style="display: block; margin-bottom: 50px">Incorrect Credentials</h4>
<button onclick="location.href='./'" class="btn btn-warning">Try Again</button>
</body>
</html>
