<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction details and revenue</title>
</head>
<body>
    <h1>Payment Data</h1>

    <!-- Table to display payment data -->
    <table border="1">
        <thead>
            <tr>
                <th>Payment ID</th>
                <th>Customer ID</th>
                <th>Ticket ID</th>
                <th>Amount</th>
                <th>Payment Method</th>
                <th>Payment Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in payment %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Button to go back to the Admin Dashboard -->
    <a href="{{ url_for('back_to_dashboard') }}">
        <button>Back to Dashboard</button>
    </a>
</body>
</html>
